/* 
    Licence: MIT

    Author: Gemju Sherpa
    Date: 17/08/2022

    Description: CSS styling Navbar section
    Design approach: Mobile first responssive design
*/



/* Screen size less than 992px */
.brand-logo {
    width: 60px;
    height: auto;
}

.navbar-nav {
    text-align: center;
    padding-top: 1rem;
}

.nav-link {
    font-size: 14pt;
    font-weight: 600 !important;
    color: black;

}

/* get started button */
.nav-link .nav-button {
    border: none;
    background-color: rgb(56, 67, 5);
    width: 40vw;
    height: 50px;
    color: white;
}


/* For screen sizes more than 992px */
@media (min-width: 992px) {

    /* Navbar styles */
    .navbar {
        margin: 1rem 5% 1rem 5%
    }

    .brand-logo {
        width: 85px;
        height: auto;
    }

    .nav-link {
        font-size: 12pt;
        color: black;
        margin-left: 1rem;
    }

    .nav-link .nav-button {
        margin-left: 1rem;
        width: 150px;
        height: 45px;
        margin-top: -2rem;
    }


    .nav-button:hover {
        background-color: rgb(56, 67, 5, .4);
        color: black;

    }
}

/* End of file */